html,
body {
  font-family: 'work sans', sans-serif;
  background-color: white;
  width: 100%;
}

/* cover */
.container-fluid {
  height: 100vh;
  background-image: url(../img/bg-wedding.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home {
  background-color: rgba(0, 0, 0, 0.367);
  height: 100vh;
  min-width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home .head-title {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #b0b0b0;
}

.home h1 {
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Allura', cursive;
}

.home .connect {
  font-family: 'Allura', cursive;
  font-size: 1rem;
  color: whitesmoke;
}

.home .tgl-pelaksana,
.home .terhormat {
  font-size: 0.8rem;
  color: #b0b0b0;
}

.home .undangan {
  font-size: 0.8rem;
  color: white;
}

.home .btn:hover {
  background-color: #a3b18a !important;
}

/* acara */
.acara {
  font-family: 'Work Sans', sans-serif;
  background-color: #f8f8f8;
  height: 850px;
  text-align: center;
  padding: 2rem 10px 0 10px;
}

.acara .acara-title {
  font-family: 'Cormorant', serif;
  font-size: 0.87rem;
  color: #a3b18a;
  text-transform: uppercase;
  font-weight: 600;
}

.acara .acara-pembuka {
  padding-bottom: 1rem;
}

.acara .acara-isi {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 486px;
  text-align: center;
}

.acara .groom-one {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  padding-bottom: 1rem;
}

.acara .connect-sub {
  font-family: 'Allura', cursive;
  font-size: 1rem;
  color: #a3b18a;
}

.acara .bride-one {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  padding-bottom: 1rem;
}

.acara .date-one {
  font-size: 0.87rem;
}
