html,
body {
  font-family: 'work sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* cover */
.cover {
  min-height: 100vh;
  background-image: url(../img/hero-couple.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home {
  background-color: rgba(0, 0, 0, 0.367);
  min-height: 100vh;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home .head-title {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #b0b0b0;
}

.home h1 {
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Allura', cursive;
}

.home .connect {
  font-family: 'Allura', cursive;
  font-size: 1rem;
  color: whitesmoke;
}

.home .tgl-pelaksana,
.home .terhormat {
  font-size: 0.8rem;
  color: #b0b0b0;
}

.home .undangan {
  font-size: 0.8rem;
  color: white;
}

.home .btn:hover {
  background-color: #a3b18a !important;
}

/* acara */
.acara {
  font-family: 'Work Sans', sans-serif;
  background-color: #f8f8f8;
  height: 850px;
  width: 100%;
  text-align: center;
  padding: 2rem 10px 0 10px;
}

.flower-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.flower {
  position: absolute;
  top: -10%;
  font-size: 24px;
  animation: fall linear infinite;
}
.acara .acara-title {
  font-family: 'Cormorant', serif;
  font-size: 0.87rem;
  color: #a3b18a;
  text-transform: uppercase;
  font-weight: 600;
}

.acara .acara-pembuka {
  padding-bottom: 1rem;
}

.acara .acara-isi {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 329px;
  text-align: center;
}

.acara .groom-one {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  padding-bottom: 1rem;
}

.acara .connect-sub {
  font-family: 'Allura', cursive;
  font-size: 1rem;
  color: #a3b18a;
}

.acara .bride-one {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  padding-bottom: 1rem;
}

.acara .date-one {
  font-size: 0.87rem;
}

/* pengantin */
.pengantin {
  background-color: #f5f5dc;
  min-height: 110vh;
  padding: 72px 10px 0 10px;
}

.pengantin .pengantin-abstrak {
  text-align: center;
  color: #a3b18a;
  font-size: 1rem;
  text-transform: uppercase;
}

.pengantin .title-pengantin {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
}

.pengantin .groom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pengantin .groom .groom-image .image-box {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-image: url(../img/groom-satu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pengantin .groom .groom-name {
  padding-top: 36px;
}
.pengantin .groom .groom-name h1 {
  font-family: 'Allura', cursive;
  color: black;
  width: 350px;
}

.pengantin .groom .ig-groom .btn {
  background-color: #a3b18a;
  border-radius: 8px;
  color: white;
}
.pengantin .bride {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pengantin .bride .bride-image .image-box {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-image: url(../img/bride-satu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pengantin .bride .bride-name {
  padding-top: 36px;
}
.pengantin .bride .bride-name h1 {
  font-family: 'Allura', cursive;
  color: black;
  width: 350px;
}

.pengantin .bride .ig-bride .btn {
  background-color: #a3b18a;
  border-radius: 8px;
  color: white;
}

/* Jadwal Acara */
.jacara {
  background-color: #f8f8f8;
  text-align: center;
  align-items: center;
  min-height: 95vh;
}

.jadwal-acara .jadwal-title {
  text-transform: uppercase;
  padding-top: 4.5rem;
  color: #a3b18a;
}

.jadwal-acara h1 {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
}

.jadwal-acara .akad {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
  padding-right: 5rem;
}

.jadwal-acara .resepsi {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  padding-left: 5rem;
}

.jadwal-acara .card {
  width: 320px;
  height: 280px;
  padding: 30px 65px 30px 50px;
  margin-bottom: 30px;
}

.jadwal-acara .card .card-body {
  padding: 0px;
  text-align: left;
}

.jadwal-acara .card-title {
  font-weight: 600;
  text-align: center;
}

.jadwal-acara .tgl-akad img {
  padding-right: 15px;
}

.jadwal-acara .tgl-akad span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.jadwal-acara .waktu-akad,
.jadwal-acara .lokasi-akad {
  padding-top: 20px;
}

.jadwal-acara .waktu-akad img {
  padding-right: 15px;
}

.jadwal-acara .waktu-akad span {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}

.jadwal-acara .lokasi-akad img {
  padding-right: 15px;
}

.jadwal-acara .lokasi-akad span {
  font-size: 0.875rem;
  color: black;
}
.jadwal-acara .lokasi-akad .addr {
  padding-left: 34px;
  width: 207px;
  font-size: 0.75rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.jadwal-acara .card .btn {
  background-color: #a3b18a;
  color: white;
  border-radius: 8px;
  width: 95px;
  font-size: 0.8rem;
  margin-top: -10px;
}

/* love story */
.love-story {
  background-color: #f5f5dc;
  min-height: 100vh;
  text-align: center;
}

.love-story .title-story {
  text-transform: uppercase;
  color: #a3b18a;
  padding-top: 4.5rem;
}

.love-story h1 {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
}

.love-story .timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.love-story .timeline::before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #ccc;
  width: 1px;
  left: 50%;
}

.love-story .timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.love-story .timeline li::before,
.love-story .timeline li::after {
  content: '';
  display: table;
}

.love-story .timeline li::after {
  clear: both;
}

.love-story .timeline li .timeline-image {
  width: 33px;
  height: 33px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../icons/icon-park-solid_like.svg);
  border: 1px solid #a3b18a;
}

.love-story .timeline li .timeline-panel {
  width: 46%;
  float: left;
  position: relative;
  padding: 1rem 0 0 0;
  border-radius: 8px;
}
.love-story .timeline li .timeline-panel span {
  color: #a3b18a;
  font-size: 0.9rem;
}
.love-story .timeline li .timeline-panel h3 {
  font-size: 1.1rem;
  color: black;
}

.love-story .timeline li .timeline-body p {
  font-size: 0.9rem;
  font-weight: 400;
}

.love-story .timeline li.timeline-left .timeline-panel {
  text-align: right;
}

.love-story .timeline li.timeline-left .timeline-body {
  width: 59%;
  margin-left: 41%;
}

.love-story .timeline li.timeline-right .timeline-panel {
  float: right;
  text-align: left;
}
.love-story .timeline li.timeline-right .timeline-body {
  width: 59%;
  margin-right: 41%;
}

/* save the date */
.save-date {
  background-color: #f8f8f8;
  min-height: 100vh;
  padding-top: 78px;
}

.save-date .title-counting {
  text-transform: uppercase;
  color: #a3b18a;
  padding-bottom: 30px;
  font-size: 1rem;
}

.save-date .title-date {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
}

.save-date .sub-date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}

.save-date .countdown {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.save-date .item-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-date .item-col .box-daily {
  width: clamp(50px, 10vw, 90px);
  height: clamp(50px, 10vw, 83px);
  border: 1px solid #a3b18a;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: 600;

  transition: all 0.3s ease;
}

.save-date .item-col .sub-daily {
  margin-top: 10px;
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
}

.save-date .separator-col {
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: 600;
  /* align-self: center; */
}

/* gallery */
.gallery {
  background-color: #f5f5dc;
  min-height: 110vh;
  padding-top: 72px;
}
.gallery .title-moments {
  text-transform: uppercase;
  color: #a3b18a;
  padding-bottom: 30px;
  font-size: 1rem;
}

.gallery .title-foto {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
}

.gallery .all-images {
  display: grid;
  grid-template-columns: 448px 240px 240px;
  /* grid-template-rows: 220px 220px; */
  gap: 20px;
  grid-template-areas: 'big small1 small2' 'big small3 small4';
  padding-left: 136px;
  padding-right: 136px;
}

.gallery .all-images div {
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .all-images .box-satu {
  grid-area: big;
  height: 474px;
  width: 450px;
  background-image: url(../img/gallery/gambar-1.png);
  transition: all 0.3s ease;
}
.gallery .all-images .box-satu:hover,
.gallery .all-images .box-dua:hover,
.gallery .all-images .box-tiga:hover,
.gallery .all-images .box-empat:hover,
.gallery .all-images .box-lima:hover {
  transform: scale(1.05);
  transform-origin: center;
  cursor: pointer;
  z-index: 2;
}

.gallery .all-images .box-depan {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery .all-images .box-dua {
  grid-area: small1;
  height: 224px;
  width: 240px;
  background-image: url(../img/gallery/gambar-2.png);
  transition: all 0.3s ease;
}
.gallery .all-images .box-tiga {
  grid-area: small2;
  height: 224px;
  width: 240px;
  background-image: url(../img/gallery/gambar-3.png);
  transition: all 0.3s ease;
}
.gallery .all-images .box-empat {
  grid-area: small3;
  height: 224px;
  width: 240px;
  background-image: url(../img/gallery/gambar-4.png);
  transition: all 0.3s ease;
}
.gallery .all-images .box-lima {
  grid-area: small4;
  height: 224px;
  width: 240px;
  background-image: url(../img/gallery/gambar-5.png);
  transition: all 0.3s ease;
}

/* reservation */
.reservation {
  background-color: #f8f8f8;
  min-height: 110vh;
  padding-top: 72px;
}
.reservation .title-reserv {
  text-transform: uppercase;
  color: #a3b18a;
  padding-bottom: 30px;
  font-size: 1rem;
}

.reservation .confirm-title {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
}

.reservation .option-hadir,
.reservation .option-tidak,
.reservation .option-ragu {
  border: 1px solid #a3b18a;
  margin: 12px;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.reservation .option-hadir a,
.reservation .option-tidak a,
.reservation .option-ragu a {
  color: black;
  text-decoration: none;
}
.reservation .option-hadir:hover,
.reservation .option-tidak:hover,
.reservation .option-ragu:hover {
  margin: 12px;
  background-color: #a3b18a;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.reservation .option-hadir:hover a,
.reservation .option-tidak:hover a,
.reservation .option-ragu:hover a {
  color: white;
  text-decoration: none;
}

/* gift */
.gift {
  background-color: #f5f5dc;
  min-height: 110vh;
  padding-top: 72px;
}
.gift .title-gift {
  text-transform: uppercase;
  color: #a3b18a;
  padding-bottom: 30px;
  font-size: 1rem;
}

.gift .big-title {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
}

.gift .box-gift {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #c4c4c47a;
}
.gift .box-card {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #c4c4c47a;
}
.gift .box-copy {
  width: 80px;
  height: 28px;
  border-radius: 6px;
  background-color: #c4c4c47a;
  text-align: center;
}

.gift .box-gift span img {
  padding-top: 15px;
}

.gift .box-card span img {
  padding-top: 12px;
}

.gift .rek-satu .card,
.gift .rek-dua .card {
  width: 440px;
  height: 130px;
}

.gift .title-rek {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.gift .name-rek {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
}

.gift .no-rek {
  color: rgba(0, 0, 0, 0.5);
}

.gift .box-copy {
  cursor: pointer;
}
.gift .home-address .card {
  width: 440px;
  height: 168px;
}
.gift .title-address {
  font-weight: bold;
  font-size: 1rem;
}

.gift .alamat-lengkap {
  width: 319px;
}

.gift .name-penerima {
  font-weight: bold;
  font-size: 1.3rem;
}

/* media query */
@media (max-width: 1200px) {
  .save-date .hari-col,
  .save-date .jam-col,
  .save-date .menit-col,
  .save-date .detik-col {
    width: 7%;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .jadwal-acara .akad {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 12px;
  }

  .jadwal-acara .resepsi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 12px;
  }
}

@media (max-width: 765px) {
  .timeline::before {
    left: 180px !important;
  }

  .timeline li .timeline-image {
    left: 180px !important;
    top: 16px;
    width: 130px;
    height: 130px;
  }

  .timeline li .timeline-panel {
    float: left !important;
    text-align: left !important;
    margin-left: 234px;
  }
  .timeline li .timeline-panel .timeline-body {
    margin-left: 0 !important;
    width: 260px !important;
  }
}

@media (max-width: 576px) {
  .timeline::before {
    left: 100px !important;
  }

  .timeline li .timeline-image {
    left: 100px !important;
    top: 16px;
    width: 130px;
    height: 130px;
  }

  .timeline li .timeline-panel {
    float: left !important;
    text-align: left !important;
    margin-left: 160px;
  }
  .timeline li .timeline-panel .timeline-body {
    margin-left: 0 !important;
  }
}

@media (max-width: 435px) {
  .timeline::before {
    left: 60px !important;
  }

  .timeline li .timeline-image {
    left: 60px !important;
    top: 16px;
    width: 130px;
    height: 130px;
  }

  .timeline li .timeline-panel {
    float: left !important;
    text-align: left !important;
    margin-left: 108px;
  }
  .timeline li .timeline-panel .timeline-body {
    width: 196px !important;
  }
}
/* @media (max-width: 375px) {
  .timeline::before {
    left: 60px !important;
  }

  .timeline li .timeline-image {
    left: 60px !important;
    top: 16px;
    width: 130px;
    height: 130px;
  }

  .timeline li .timeline-panel {
    float: left !important;
    text-align: left !important;
    margin-left: 108px;
  }
  .timeline li .timeline-panel .timeline-body {
    margin-left: 0 !important;
  }
} */

/* animasi */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* keyframes */
@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0.8;
  }
}
