html,
body {
  font-family: 'work sans', sans-serif;
  background-color: white;
  width: 100%;
}

/* cover */
.container-fluid {
  height: 100vh;
  background-image: url(../img/bg-wedding.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home {
  background-color: rgba(0, 0, 0, 0.367);
  height: 100vh;
  min-width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home .head-title {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #b0b0b0;
}

.home h1 {
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Allura', cursive;
}

.home .connect {
  font-family: 'Allura', cursive;
  font-size: 1rem;
  color: whitesmoke;
}

.home .tgl-pelaksana,
.home .terhormat {
  font-size: 0.8rem;
  color: #b0b0b0;
}

.home .undangan {
  font-size: 0.8rem;
  color: white;
}

.home .btn:hover {
  background-color: #a3b18a !important;
}

/* acara */
.acara {
  font-family: 'Work Sans', sans-serif;
  background-color: #f8f8f8;
  height: 850px;
  text-align: center;
  padding: 2rem 10px 0 10px;
}

.flower-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.flower {
  position: absolute;
  top: -10%;
  font-size: 24px;
  animation: fall linear infinite;
}
.acara .acara-title {
  font-family: 'Cormorant', serif;
  font-size: 0.87rem;
  color: #a3b18a;
  text-transform: uppercase;
  font-weight: 600;
}

.acara .acara-pembuka {
  padding-bottom: 1rem;
}

.acara .acara-isi {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 486px;
  text-align: center;
}

.acara .groom-one {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  padding-bottom: 1rem;
}

.acara .connect-sub {
  font-family: 'Allura', cursive;
  font-size: 1rem;
  color: #a3b18a;
}

.acara .bride-one {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  color: black;
  padding-bottom: 1rem;
}

.acara .date-one {
  font-size: 0.87rem;
}

/* pengantin */
.pengantin {
  background-color: #f5f5dc;
  height: 950px;
  padding: 72px 10px 0 10px;
}

.pengantin .pengantin-abstrak {
  text-align: center;
  color: #a3b18a;
  font-size: 1rem;
  text-transform: uppercase;
}

.pengantin .title-pengantin {
  font-family: 'Allura', cursive;
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
}

.pengantin .groom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pengantin .groom .groom-image .container {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-image: url(../img/groom-satu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pengantin .groom .groom-name {
  padding-top: 36px;
}
.pengantin .groom .groom-name h1 {
  font-family: 'Allura', cursive;
  color: black;
  width: 350px;
}

.pengantin .groom .ig-groom .btn {
  background-color: #a3b18a;
  border-radius: 8px;
  color: white;
}
.pengantin .bride {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pengantin .bride .bride-image .container {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-image: url(../img/bride-satu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pengantin .bride .bride-name {
  padding-top: 36px;
}
.pengantin .bride .bride-name h1 {
  font-family: 'Allura', cursive;
  color: black;
  width: 350px;
}

.pengantin .bride .ig-bride .btn {
  background-color: #a3b18a;
  border-radius: 8px;
  color: white;
}

/* animasi */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* keyframes */
@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0.8;
  }
}
